Source: epson-backend
Section: contrib/misc
Priority: optional
Maintainer: Seiko Epson Corporation <linux-printer@epson.jp>
Build-Depends: debhelper (>= 4)
Standards-Version: 3.7.2

Package: epson-backend
Architecture: any
Depends: ${shlibs:Depends}
Description:Epson Custom Backend
 This software is a filter program used with Common UNIX Printing System
 (CUPS) from the Linux. This can supply the high quality print with
 Seiko Epson Color Ink Jet Printers.
